@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  user-select: none;
  letter-spacing: .1px;
  vertical-align: baseline;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #c0c0bc transparent;
  font-size: 14px;
}

*::-webkit-scrollbar {
  width: 9px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #c0c0bc;
  background-clip: content-box;
  border-right: 2px solid transparent;
}

* {
  transition: background-color 300ms ease-out;
}


.check-input:checked + .label {
  background: #00b8a8;
  fill: white;
  border: none;
}

.check-input:checked + .label svg {
  display: block;
  padding: 2.5px;
}

.radio-pref-label .radio-span {
  border: 1px solid #f2f3f4;
  border: 1px solid #dedfe0;
  border-radius: 50%;
  background-color: white;
}

.radio-pref:checked + .radio-pref-label .radio-span {
  border: 4px solid rgba(0, 24, 42, 1)
}

.radio-pref:checked + .grey-rounded-label {
  outline: solid rgba(0, 24, 42, 1) 2px;
}

.check-pref-label svg {
  display: none
}

.check-pref:checked + .check-pref-label svg {
  display: block
}

.switch-rainbow-label {
  transition: all 300ms ease-out;
}

.switch-rainbow:checked + .switch-rainbow-label .switch-rainbow-span  {
  background: conic-gradient(from 0deg at 64% 50%, #ff0200 -9.93deg, #ff0000 4.09deg, #ffa800 40.28deg, #ebff00 73.38deg, #24ff00 116.22deg, #00f0ff 150.26deg, #00fff0 183.69deg, #0066ff 224.55deg, #ad00ff 268.49deg, #ff00a8 310.68deg, #ff0200 350.07deg, #ff0000 364.09deg);
  justify-content: flex-end;
  transition: all 1s ease;
}

.switch-black:checked + .switch-black-label .switch-black-span  {
  background: #334655;
  justify-content: flex-end;
  transition: all 1s ease;
}

.radio-theme:checked + .radio-theme-label img {
  outline: solid rgba(0, 24, 42, 1) 2px;
  border: none;
}

.check-pref:checked + .check-pref-label .check-pref-container {
  background-color: rgba(0, 24, 42, 1);
  border: none;
}


.screen-width-minus-sidebar {
  width: calc(100vw - 220px)
}

.screen-width-table {
  width: calc(100vw - 220px - 12px)
}


.rainbow-switch-on {
  background: conic-gradient(from 0deg at 64% 50%, #ff0200 -9.93deg, #ff0000 4.09deg, #ffa800 40.28deg, #ebff00 73.38deg, #24ff00 116.22deg, #00f0ff 150.26deg, #00fff0 183.69deg, #0066ff 224.55deg, #ad00ff 268.49deg, #ff00a8 310.68deg, #ff0200 350.07deg, #ff0000 364.09deg);
  justify-content: flex-end;
}

.rainbow-bg {
  /*background: rgba(255,255,255,.5), url(/img/copilot.png);*/
  /*background-size: cover;*/
  background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)), url(/img/rainbow-bg.png) left top repeat;


}


@layer base {
  .item-active > svg {
    @apply block
  }

  .item-active > a {
    @apply block flex-1
  }

  .sidebar-item > a {
    @apply block flex-1
  }


  .rotated {
    @apply -rotate-90
  }

  .rotated-row {
    @apply -rotate-90 origin-center relative left-[3px] top-[3px]
  }

  .imports-grid {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 26px;
  }

  .greyscale {
    filter: grayscale(100%);
  }



}


@layer components {
  .reg-btn {
    @apply relative bg-white w-full min-h-[34px] text-[14px] rounded-[8px] font-medium cursor-pointer hover:bg-[#f5f5f5] hover:transition-colors duration-500 before:absolute before:h-4 before:w-4 before:absolute before:left-2 before:top-[9px] before:bg-contain before:bg-no-repeat
  }

  .sidebar-item {
    @apply flex items-center px-2 py-[6px] cursor-pointer w-full rounded-lg hover:bg-[#eaeaea] mb-1 text-secondary items-center
  }

  .item-active {
    @apply flex items-center px-2 py-[6px] cursor-pointer w-full rounded-lg mb-1 bg-[#e6e8e9] font-medium text-primary items-center
  }

  .header-btn-active {
    @apply bg-btnBgHover
  }

  .btn-with-shadow {
    @apply text-secondary font-medium border border-[#e1e4e6] items-center px-2 rounded-lg  flex gap-2 cursor-pointer hover:bg-greyBtnHoverBg border-b-[#c8cdd1] h-[28px]
  }


  .btn-bg-on-hover {
    @apply text-secondary font-medium items-center px-2 rounded-lg flex gap-2 items-center cursor-pointer hover:bg-btnBgHover h-[28px]
  }
}
